<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="btc.mapper.BlogMapper">

	<!-- 전체게시판 목록 보기 -->
	<select id="selectBlogBoardList" resultType="btc.dto.BlogDto">
		<![CDATA[
		
			SELECT
				seq, title, hit_cnt, creator_id,
				DATE_FORMAT(created_date, '%Y.%m.%d %H:%i:%s') AS created_date
			FROM
				t_blog
			WHERE
				deleted_yn = 'N'
			ORDER BY
				seq DESC
		]]>
	</select>
	
	<!-- 게시판 상세내용 보기 -->
	<select id="selectBlogBoardDetail" parameterType="int" resultType="btc.dto.BlogDto">
		<![CDATA[
		
	         SELECT
	            seq,
	            title, hit_cnt, creator_id, contents,
	            DATE_FORMAT(created_date, '%Y.%m.%d %H:%i:%s') AS created_date
	         FROM
	            t_blog
	         WHERE
	            seq = #{seq}
	         ORDER BY
	            seq DESC
	            
		
		]]>
	</select>
	
	<!-- 게시물 입력하기-->
	<insert id="blogBoardInsert" parameterType="btc.dto.BlogDto">
		<![CDATA[ 
	      
	         INSERT INTO
		            t_blog
		            (title, contents, creator_id, created_date)
	         VALUES
	            	(#{title}, #{contents}, #{creatorId}, NOW())
      	
      	]]>
	</insert>
	
	<!-- 조회수 카운트-->
	<update id="vueCountUp" parameterType="int">
		<![CDATA[
			update t_blog set hit_cnt = hit_cnt + 1 where seq = #{seq}
		]]>
	</update>
	
	<!-- 게시물 수정하기-->
	<update id="blogBoardUpdate" parameterType="btc.dto.BlogDto">
		<![CDATA[ 
		
	         UPDATE
	            t_blog
	         SET
	            title= #{title},
	            contents= #{contents},
	            updated_date= NOW(),
	            updater_id= #{updaterId}
	         WHERE
	            seq = #{seq}
      
      ]]>
	</update>
	
	<!-- 목록에서만 안 보이게 하는 게시물 삭제방법-->
	<update id="blogBoardDelete" parameterType="int">
		<![CDATA[ 
				UPDATE t_blog SET
					deleted_yn = 'Y'
				WHERE
	            	seq = #{seq}
		]]>
	</update>
	
	<!-- 완전히 삭제하는 방법-->
	<!-- <delete id="vueDeleteBoard" parameterType="int">
   		<![CDATA[ ew
   			delete
   			from
   			t_blog
   			where
   			seq = #{seq}
   		]]>
   </delete> -->
   
   <!-- 댓글 리스트 목록-->
   <select id="replyList" parameterType="int" resultType="btc.dto.ReplyDto">
		<![CDATA[
			SELECT
				seq, blog_seq, reple_seq, contents, creator_id,
				DATE_FORMAT(created_date, '%Y.%m.%d %H:%i:%s') AS created_date
			FROM
				t_reply
			WHERE
				blog_seq = #{blogSeq}
			AND
				deleted_yn = 'N'
			ORDER BY
				seq DESC
		]]>
	</select>
	
	<!-- 댓글 입력하기-->
	<insert id="replyInsert" parameterType="btc.dto.ReplyDto">
		<![CDATA[
			INSERT INTO
				t_reply (blog_seq, contents, creator_id, created_date)
			VALUES
				(#{blogSeq}, #{contents}, #{creatorId}, NOW())
		]]>
	</insert>
	
	<!-- 댓글 수정하기-->
	<update id="replyDelete" parameterType="int">
		<![CDATA[
			UPDATE
				t_reply
			SET
				deleted_yn = 'Y'
			WHERE
				seq = #{seq}
		]]>
	</update>
</mapper>
